body {
  margin: 60px auto;
  width: 70%;
  background-color: #e5eef0;
}

.img-portrait {
  display: flex;
  justify-content: center;
}

nav ul {
  font-size: 1.35em;
  font-family: 'Montserrat', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li {
  display: inline;
  color: #2ca4be;
  margin-right: 20px;
}
nav li.selected a {
  color: #fdc75c;
}
a {
  text-decoration: none;
  color: #228398;
}
a:hover {
  text-decoration: underline;
}
